section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1 {
    background: #DFDFDF;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.section-title {
    left: 0;
}

.section-animation {
    height: 100vh;
}

.section-imgs {
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    animation: banner-animation 500s infinite;
    /* animation-delay: 2s; */
}

.section-animation img:nth-child(1) {
    height: 100vh;
}

.section-animation img:nth-child(2) {
    height: 100vh;
    position: relative;
}

@keyframes banner-animation {
    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-70%);
    }
}

.sec-title div span:nth-child(1) {
    font-size: var(--header-big-font);
    color: #231815;
}

.sec-title div span:nth-child(3) {
    font-size: var(--header-big-font);
    color: #9A6A25;
}

.sec-title div span:nth-child(5) {
    font-size: var(--header-second-font);
    color: #231815;
    font-family: 'Great Vibes';
}

.sec-left {
    width: 55%;
    height: 100vh;
    background: #2C2B2C;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--left-width);
    transition: 0.8s ease-in-out width;
}

.sec-right {
    width: 45%;
    transition: 0.8s ease-in-out width;
}

.section-2 {
    transition: 0.8s ease-in-out flex-wrap;
}

@media (max-width:900px) {
    .section-2 {
        flex-wrap: wrap;
    }

    .sec-left {
        width: 100%;
    }

    .sec-right {
        width: 100%;
        height: 50vh;
    }
}

.left-title {
    font-size: var(--section-title);
    margin-bottom: 50px;
}

.left-title:nth-child(1) {
    color: #91702F;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left-title:nth-child(1) span {
    color: #898989;
    font-size: var(--section-second-title);
    transform: translateY(5px);
}

.left-title:nth-child(2) {
    margin-bottom: 60px;
}

.left-text {
    font-size: var(--content-text);
    line-height: 2.3rem;
    font-weight: 200;
    letter-spacing: 2px;
}

.left-btn {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #898989;
    transition: 0.5s ease-in-out color;
}

.line-bg {
    background: #898989;
    width: 80px;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.line {
    background: #fff;
    height: 2px;
    width: 15%;
    transition: 0.5s width ease-in-out;
}

.left-btn a:hover .line {
    width: 100%;
}

.left-btn a:hover {
    color: #fff;
}