.right {
    background: #DCDDDD;
}

@media (min-width:901px) {
    .sections {
        height: calc(100vh - calc(var(--left-width) * 2));
    }
}

.sections {
    width: calc(100% - calc(var(--left-width) * 3));
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--left-width);
}

.section-1,
.section-3,
.section-5 {
    margin: var(--left-width) 0px var(--left-width) var(--left-width);
}



.section-2,
.section-4,
.section-6 {
    margin: var(--left-width) var(--left-width) var(--left-width) 0px;
}

@media (max-width:900px) {

    .section-1,
    .section-3,
    .section-5 {
        display: flex;
        flex-wrap: wrap;
        -webkit-flex-flow: column-reverse;
        flex-flow: column-reverse;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
    }

    .section-2,
    .section-4,
    .section-6 {
        margin: var(--left-width) var(--left-width) var(--left-width) 0px;
        display: flex;
        flex-wrap: wrap;
    }
}

.left-btn {
    margin-top: 30px;
    color: #898989;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #898989;
    transition: 0.5s ease-in-out color;
}

.line-bg {
    background: #898989;
    width: 80px;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.line {
    background: #232323;
    height: 2px;
    width: 15%;
    transition: 0.5s width ease-in-out;
}

.left-btn a:hover .line {
    width: 100%;
}

.left-btn a:hover {
    color: #232323;
}

.section-content {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:900px) {
    .section-content {
        width: 100%;
        padding: var(--left-width) 0;
    }
}

.section-1 .section-content div,
.section-3 .section-content div,
.section-5 .section-content div {
    width: calc(100% - var(--left-width));
    padding-right: var(--left-width);
}



.section-2 .section-content div,
.section-4 .section-content div,
.section-6 .section-content div {
    width: calc(100% - var(--left-width));
    padding-left: var(--left-width);
}

@media (max-width:900px) {

    .section-1 .section-content div,
    .section-3 .section-content div,
    .section-5 .section-content div {
        padding-right: 0;
    }

    .section-2 .section-content div,
    .section-4 .section-content div,
    .section-6 .section-content div {
        padding-left: 0;
    }
}

.section-image {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:900px) {
    .section-image {
        width: 100%;
        padding: var(--left-width) 0 0 0;
    }
}

.section-image img {
    width: 100%;
    height: calc(100% - calc(var(--left-width) * 2));
    object-fit: cover;
    object-position: center center;
}