@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;600;700;900&display=swap');

:root {
    --sec-title: 3rem;
    --sec-p: 1.3rem;
    --big-title: 10rem;
    --big-p: 2rem;
    --height: 45px;
    --card-p: 6em;
    --card-title: 3em;
}

@media (max-width:1200px) {
    :root {
        --sec-title: 2.5rem;
        --sec-p: 1.2rem;
        --gary-p: 0.9rem;
        --big-title: 8rem;
        --big-p: 1.7rem;
        --height: 39px;
        --card-p: 6em;
        --card-title: 3em;
    }
}

@media (max-width:1000px) {
    :root {
        --sec-title: 2rem;
        --sec-p: 1.1rem;
        --gary-p: 0.8rem;
        --big-title: 7rem;
        --big-p: 1.5rem;
        --height: 33px;
        --card-p: 5em;
        --card-title: 2.5em;
    }
}

@media (max-width:800px) {
    :root {
        --sec-title: 1.5rem;
        --sec-p: 1rem;
        --gary-p: 0.6rem;
        --big-title: 3rem;
        --big-p: 1.2rem;
        --height: 27px;
        --card-p: 4em;
        --card-title: 2em;
    }
}

@media (max-width:600px) {
    :root {
        --card-p: 3.5em;
    }
}

main-color {
    color: #9ECABF;
    color: #DF9A76;
    color: #805F55;
    color: #513A35;
    color: #a8877d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    height: 100%;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}


/* sections */
.s3 {
    margin-top: -15vh;
}

.section-60 {
    width: 65%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 17.29167vw;
}

@media (max-width:1000px) {
    .section-60 {
        padding: 0 12.29167vw;
    }
}

@media (max-width:800px) {
    .section-60 {
        padding: 0 8.29167vw;
    }
}

.section-60 h1 {
    font-size: var(--sec-title);
    padding: 10px 0;
}

.section-60 p {
    font-size: var(--sec-p);
}

.section-40 {
    width: 35%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width:800px) {
    .section-40, .section-60 {
        width: 100%;
        height: 50vh;
    }

    .s2, .s3, .s4 {
        display: block;
    }

    .s2, .s3 {
        margin-top: 0;
    }

    .s2 {
        -webkit-flex-flow: column-reverse;
        flex-flow: column-reverse;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}

/* 
.s2 .section-40 {
    background: #FCB70F;
} */

.s3 .section-40 {
    background: #000;
}



.section-40 img {
    object-fit: contain;
    /* width: 100%; */
    /* height: 100%; */
}

/* section 6 Contact us*/
.s6 {
    min-height: 100vh;
}

.s6 .content {
    position: relative;
    cursor: pointer;
}

.content-text {
    position: absolute;
    overflow: hidden;
    margin-left: -250px;
}

.content p {
    transition: 0.3s;
    font-size: var(--big-p);
}


.content-text p::before {
    content: '更換妖怪　　';
    display: inline-block;
    position: absolute;
}

.content-text p::after {
    content: '更換妖怪 →';
    width: 100%;
    display: inline-block;
    position: absolute;
    transform: rotate(10deg);
    left: 0;
    top: 120%;
}

.content-text p.hover {
    transform: rotate(-10deg) translateY(-120%);
}


.s6 .content div h1 {
    position: relative;
    top: 20px;
    font-size: var(--big-title);
    letter-spacing: 8px;
}

@media (max-width:1200px) {
    .content-text {
        margin-left: -150px;
    }
}

@media (max-width:870px) {
    .content-text {
        margin-left: 0px;
    }
}


/*card
.container {
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 100%;
    height: 100%;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container .box::before {
    content: 'Taiwan';
    position: absolute;
    top: 10vh;
    left: 30px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box::after {
    content: 'Monster';
    position: absolute;
    bottom: 10vh;
    left: 30px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover::before, .container .box:hover::after {
    opacity: 0.04;
}

.container .box .name {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
    font-size: 3em;
}

.container .box:hover .name {
    top: 5vh;
    opacity: 1;
}

.container .box .buy {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%, 0, 75px);
    color: #232323;
    background: url(../resource/monster/null-good.jpg);
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 11;
}

.container .box:hover .buy {
    bottom: 30px;
    opacity: 1;
}

.container .box .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    transition: 0.5s;
    background: url(../resource/monster/null-good.jpg);
    transform-style: preserve-3d;
    /* z-index: 10; 
    opacity: 1;
    transform: translate3d(-50%, -50%, 50px);
}

.container .box .product {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20vw;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 51px);
}

.container .box:hover .product {
    transform: translate3d(-50%, -50%, 100px);
} */


/*attractions*/
.attractions {
    position: fixed;
    z-index: 2000;
    background: rgba(255, 255, 255, 0.7);
    justify-content: center;
    align-items: center;
    display: none;
}

.att-navs {
    background: #fff;
    border-radius: 20px;
    box-shadow: 4px 4px 7px 7px #2548209a;
    padding: 20vh 25vw;
    display: flex;
}

.left-nav, .right-nav {
    font-size: var(--big-p);
    letter-spacing: 2px;
    color: #254820;
    font-weight: 700;
    margin: 20px 0;
    cursor: pointer;
    text-align: justify;
    width: 100%;
    height: var(--height);
}

.left-nav::after, .right-nav::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.btn-content {
    display: flex;
    justify-content: flex-end;
}

.btn-content i {
    font-size: var(--big-p);
    transform: translateX(-100%) translateY(150%);
    cursor: pointer;
    padding: 20px;
    transition: 0.3s;
}

.btn-content i:hover {
    transform: translateX(-100%) translateY(150%) scale(1.3);
}

.s2 {
    display: none;
}

.good, .bad {
    margin-left: 50px;
    z-index: 200;
}

.good, .bad {
    display: none;
}



/* section 7 */
.monster-content {
    display: none;
}

.section-50 {
    width: 50%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-50:first-child {
    padding: 0 15vw;
}

.section-50 h1 {
    font-size: var(--sec-title);
    padding: 10px 0;
}

.section-50 p {
    font-size: var(--sec-p);
}


@media (max-width:800px) {
    .section-50 {
        width: 100%;
        height: 50vh;
    }

    .s7 {
        display: block;
    }

    .s7 {
        margin-top: 0;
    }

    .s7 {
        -webkit-flex-flow: column-reverse;
        flex-flow: column-reverse;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}


/*card v2*/
.container {
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 100%;
    height: 100%;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container .box::before {
    content: 'Monzzle';
    position: absolute;
    top: 0vh;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    font-size: var(--card-p);
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box::after {
    content: 'Created';
    position: absolute;
    bottom: 0vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: var(--card-p);
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover::before, .container .box:hover::after {
    opacity: 0.04;
}

.container .box .name {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
    font-size: var(--card-title);
}

.container .box:hover .name {
    top: 5vh;
    opacity: 1;
}

.container .box .buy {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%, 0, 75px);
    color: #232323;
    background: url(../resource/monster/null-good.jpg);
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 11;
}

.container .box:hover .buy {
    bottom: 30px;
    opacity: 1;
}

.container .box .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    transition: 0.5s;
    background: url(../resource/monster/null-good.jpg);
    transform-style: preserve-3d;
    /* z-index: 10; */
    opacity: 1;
    transform: translate3d(-50%, -50%, 50px);
}

.container .box .product {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 60%;
    object-fit: contain;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 51px);
}

.container .box:hover .product {
    transform: translate3d(-50%, -50%, 100px);
}

@media (max-width:600px) {
    .section-50:last-child{
        height: 80vh;
    }

    .container .box::before, .container .box::after {
        opacity: 0.04;
    }

    .container .box .name {
        top: 5vh;
        opacity: 1;
    }

    .container .box .buy {
        bottom: 30px;
        opacity: 1;
    }
}