/* 字體顏色設定 */
.title-text-color, .card-title, .title-text, .menu-item-text, .nav-link {
    color: #513A35 !important;
    font-weight: bolder;
}

.content-text-color, .card-text {
    color: #805F55;
    font-weight: bold;
}

/* 副頁的上面 */
.content-header {
    justify-content: space-between;
    border-bottom: 4px solid #513A35;
    margin-top: 50px;
}

.content-header-title {
    font-size: 28px;
    font-weight: bolder;
    display: inline-block;
    top: 5px;
    position: relative;
}

.content-header-icon {
    width: 45px;
    height: 45px;
}

.content-header-right {
    float: right;
}

@media (max-width:560px) {
    .content-header-right {
        float: left;
        width: 100%;
        margin-top: 20px;
    }

    .content-header-item {
        top: 0 !important;
    }

}

.content-header-item {
    display: inline-block;
    font-size: 20px;
    position: relative;
    top: 14px;
    text-decoration: underline;
    font-weight: bolder;
}

/* 妖怪&商城的選單 */
.form-select {
    border: 2px solid #513A35;
    border-radius: 10px;
}

/* 標題下方實線 */
.title-border {
    border-bottom: 4px solid #513A35;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

/* navbar */
.nav-item-bg {
    background-color: rgba(209, 178, 167, 0.8);
}

.bg-light {
    background-color: #513A35 !important;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
}

.navbar-toggler {
    display: none;
}

@media (max-width:1000px) {
    .navbar-toggler {
        display: block;
    }

    .menu {
        display: none;
    }
}

/* 通用設定 */
body::-webkit-scrollbar {
    display: none;
}

.row {
    width: 100%;
    margin: 0;
}

.block {
    height: 56px;
}

a {
    text-decoration: none;
    color: #000;
}

/* 右邊菜單 */
.menu {
    position: fixed;
    top: 56px;
    right: 0;
    width: 200px;
    height: calc(100vh - 56px);
    border-left: 0.1px solid rgba(0, 0, 0, 0.1);
}

.menu-item {
    width: 180px;
    margin: 0 10px;
    padding: 10px;
    height: 55px;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
}

.menu-icon {
    width: 25px;
    height: 25px;
}


.menu-item-text {
    display: inline-block;
    font-size: 18px;
    height: 25px;
    position: relative;
    top: 5px;
    padding: 0 10px;
}

/* 中間內容區塊 */
.main {
    width: calc(100% - 200px);
}

@media (max-width:1000px) {
    .main {
        width: 100%;
    }
}

/* 下方copyright */
.footer {
    text-align: center;
    padding: 20px 0 30px 0;
    margin-top: 100px;
    color: white;
    font-weight: bolder;
    background-color: #513A35;
    position: relative;
}

/*文字設定*/
.content-text {
    font-size: 16px;
}

@media (min-width:600px) {
    .content-text {
        font-size: 20px;
        padding: 0 20px;
    }
}

body {
    font-family: Microsoft JhengHei;
}