.content-header-left,
.content-header-right {
    display: inline-block;
}

.content-header-right {
    position: relative;
    top: 8px;
    display: flex;
}

.content-header-item-mgr {
    margin-right: 20px;
}


.col-10 {
    padding: 10px 0;
}

.form-select {
    width: 120px;
}

.form-select-mgl {
    margin-left: 20px;
}

.monster-text {
    font-size: 20px;
    margin-bottom: 2px;
}

.monster-name {
    font-size: 25px;
    font-weight: bolder;
}

.monster-content {
    text-align: center;
    margin-top: 10px;
}

.monster-image {
    margin: 20px 0;
}

.spinner {
    width: calc(100% - 200px);
    height: 100vh;
    position: fixed;
    background-color: white;
    z-index: 10000000000000000000000;
    margin-top: 4px;
    display: none;
}

@media (max-width:1000px) {
    .spinner {
        width: 100%;
    }
}

.spinner-border {
    top: 50vh;
    position: relative;
}