.allproduct,
.bestseller,
.newproduct {
    border-bottom: 4px solid #513A35;
    padding-bottom: 20px;
}

.content-header-left,
.content-header-right {
    display: inline-block;
}

.content-header-right {
    position: relative;
    top: 8px;
    display: flex;
}

.content-header-item-mgr {
    margin-right: 20px;
}


.col-10 {
    padding: 10px 0;
}

.form-select {
    width: 150px;
}