:root {
    --sec-title: 3rem;
    --sec-p: 1.3rem;
    --big-title: 8rem;
    --big-p: 2rem;
    --height: 45px;
    --header-height: 150px;
    --right-width: 400px;
    --left-padding-right: 80px;
    --member-padding: 200px;
    --big-p-height: 1.6em;
    --member-child-padding: 150px;
    --member-left-transform: 50px;
    --map-per: 1;
    --map-h: 800px;
}

@media (max-width:1400px) {
    :root {
        --member-padding: 120px;
        --map-per: 0.9;
    }
}


@media (max-width:1200px) {
    :root {
        --sec-title: 2.5rem;
        --sec-p: 1.2rem;
        --gary-p: 0.9rem;
        --big-title: 6rem;
        --big-p: 1.7rem;
        --height: 39px;
        --member-padding: 100px;
        --member-child-padding: 120px;
        --map-per: 0.8;
    }
}

@media (max-width:1000px) {
    :root {
        --sec-title: 2rem;
        --sec-p: 1.1rem;
        --gary-p: 0.8rem;
        --big-title: 6.5rem;
        --big-p: 1.5rem;
        --lorem-p: 1.5em;
        --height: 33px;
        --member-padding: 80px;
        --member-child-padding: 100px;
        --map-per: 0.65;
    }
}

@media (max-width:800px) {
    :root {
        --sec-title: 1.5rem;
        --sec-p: 1rem;
        --gary-p: 0.6rem;
        --big-title: 3rem;
        --big-p: 1.2rem;
        --height: 27px;
        --member-padding: 50px;
        --member-padding: 10%;
        --member-child-padding: 0px;
        --member-left-transform: 0px;
        --map-per: 0.72;
        --map-h: 1200px;
    }
}

@media (max-width:600px) {
    :root {
        --map-per: 0.55;
    }
}

@media (max-width:400px) {
    :root {
        --map-per: 0.4;
    }
}

@media (max-width:500px) {
    :root {
        --big-p: 1.1rem;
    }
}

* {
    margin: 0;
    padding: 0;
}

/* header */
/* header {
    width: 100%;
    height: var(--header-height);
    padding: 0 70px;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background: #367841;
    width: 150px;
    height: 40px;
}

.navs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 100px;
    height: 30px;
    background: #835479;
} */

/* banner */
.s-aa {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.left {
    width: calc(100% - var(--right-width) - var(--left-padding-right));
    height: calc(100vh - var(--header-height));
    padding-top: var(--header-height);
    padding-right: var(--left-padding-right);
    /* background: #666; */
}

.left-imgs {
    width: calc(100% - var(--right-width) - var(--left-padding-right));
    height: calc(100vh - var(--header-height));
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 0 80px 0 0;
}

.left-img {
    position: absolute;
    width: 100%;
    height: 30%;
    z-index: 9;
    left: 0;
    bottom: 0;
    background-image: url(../resource/subject/dog.jpg);
    background-size: cover;
    background-position: 50% 50%;
    transition: 1s ease-in-out;
    opacity: 0;
}

.left-img2 {
    background-image: url(../resource/subject/ghost.jpg);
}

.left-img3 {
    background-image: url(../resource/subject/hourse.jpg);
}

.left-img4 {
    background-image: url(../resource/subject/pig.jpg);
}

.left-img5 {
    background-image: url(../resource/subject/girl.jpg);
}

.left-img6 {
    background-image: url(../resource/subject/zy.jpg);
}

@media (max-width:600px) {
    .left {
        width: 45%;
    }

    .left-imgs {
        width: 90%;
        height: 55vh;
        border-radius: 0 30px 0 0;
    }
}

.right {
    width: var(--right-width);
    height: 100%;
    /* background: #999; */
}

.right-imgs {
    width: var(--right-width);
    height: calc(100vh - 300px);
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    border-radius: 0 0 0 80px;
}

.right-img {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 30%;
    background-image: url(../resource/subject/fish.jpg);
    background-size: cover;
    background-position: 50% 50%;
    transition: 1s ease-in-out;
    opacity: 0;
}

.right-img2 {
    background-image: url(../resource/subject/turtle.jpg);
}

.right-img3 {
    background-image: url(../resource/subject/bird.jpg);
}

.right-img4 {
    background-image: url(../resource/subject/cat.jpg);
}

.right-img5 {
    background-image: url(../resource/subject/tiger.jpg);
}

.right-img6 {
    background-image: url(../resource/subject/snake.jpg);
}

.right-img7 {
    background-image: url(../resource/subject/coin.jpg);
}

.right-img8 {
    background-image: url(../resource/subject/dragon.jpg);
}

.right-img9 {
    background-image: url(../resource/subject/msz.jpg);
}

@media (max-width:600px) {
    .right {
        width: 50%;
    }

    .right-imgs {
        height: 40vw;
        max-height: 35vh;
        width: 40%;
        border-radius: 0 0 0 30px;
    }
}

.right-text {
    /* width: 100%; */
    height: 300px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background: #353254; */
    font-size: var(--big-p);
}

@media (max-width:600px) {
    .right-text {
        top: calc(28vh - 60px);
        height: 200px;
        left: 0;
        padding: 20px;
    }
}

.pre {
    z-index: 10;
}

.rightshow {
    height: 100%;
    opacity: 1;
}

.leftshow {
    height: 100%;
    opacity: 1;
}

.big-left {
    animation: bigger 9s;
}

@keyframes bigger {
    0% {
        transform: scale(1);
        background-position: 50% 50%;
    }

    60% {
        transform: scale(1.03);
        background-position: 50% 46%;
    }

    100% {
        transform: scale(1.04);
        background-position: 50% 44%;
    }
}

.big-right {
    animation: biggerr 8s;
}

@keyframes biggerr {
    0% {
        transform: scale(1);
        background-position: 50% 50%;
    }

    60% {
        transform: scale(1.1);
        background-position: 50% 54%;
    }

    100% {
        transform: scale(1.12);
        background-position: 50% 56%;
    }
}

.s-member {
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.team-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 8vh var(--member-padding) 8vh var(--member-padding);
}

.team-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--sec-p);
}

.list-left {
    width: 170px;
}


@media (max-width:800px) {
    .team-content {
        flex-wrap: wrap;
    }

    .team-list:not(:first-child) {
        display: none;
    }

    .team-list {
        display: block;
    }

    .list-right {
        margin-left: 0;
    }

    .team-left {
        width: 100%;
    }

    .team-right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

.waviy {
    font-size: 1em;
    cursor: pointer;
}

@media (min-width:600px) {
    .waviy {
        -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0, 0, 0, .2));
    }
}

@media (max-width:600px) {
    .waviy {
        padding: 30px 0;
    }
}

.waviy span {
    display: inline-block;
    text-transform: uppercase;
    animation: waviy 2.8s infinite;
    animation-delay: calc(.4s * var(--i));
}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-10px)
    }
}

.time-content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgba(255, 255, 255, 0.5); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.time-lists {
    padding: 6% 10% 10% 10%;
    background: #fff;
    border-radius: 3vw;
    display: block;
    box-shadow: 5px 10px 18px #888888;
}

.time-lists-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translateY(-30%) translateX(10%);
}

.time-lists-top i {
    font-size: var(--sec-title);
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.time-lists-top i:hover {
    transform: scale(1.15);
}

.time-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--sec-p);
    padding: 5px 0;
}

.time-list-left {
    width: 130px;
}

@media (max-width:600px) {
    .time-list-left {
        width: 90px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .time-list-right {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

    }

    .time-lists {
        padding: 5% 8% 6% 8%;
    }

    .time-lists-top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transform: translateY(0) translateX(0);
    }
}

@media (max-width:420px) {
    .time-lists {
        padding: 3% 3% 6% 3%;
    }
}

.members-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.member-left h1 {
    font-size: var(--big-p);
    line-height: var(--big-p-height);
}

.member-left p {
    font-size: var(--sec-p);
}


.member-left {
    width: calc(40% - var(--member-padding));
    padding-left: var(--member-padding);
    padding-right: 10%;
    position: relative;
    z-index: 200;
    transform: translateY(var(--member-left-transform));
}

.member-right {
    width: calc(70% - var(--member-padding));
    margin-left: -20%;
    background: #ede9e0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20vh var(--member-padding) 10vh 0;
    border-top-left-radius: 60px;
}

.member-right-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.member-right-img img {
    border-radius: 50px;
    width: 70%;
}

@media (max-width:1200px) {
    .member-right-img img {
        width: 70%;
    }
}

@media (max-width:1000px) {
    .member-right-img img {
        width: 70%;
    }
}


@media (max-width:800px) {
    .members-content {
        -webkit-flex-flow: column-reverse;
        flex-flow: column-reverse;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        padding-top: 10vh;
    }

    .member-right {
        width: 100%;
        margin: 0;
        justify-content: center;
        padding: 0;
        border-radius: 0;
    }

    .member-right-img {
        justify-content: center;
        margin-top: -10vh;
        width: 100%;
        padding: 0 10%;
    }

    .member-right-img img {
        width: 100%;
        border-radius: 40px;
    }

    .member-left {
        background: #ede9e0;
        width: 80%;
        padding: 10vh 10%;
        margin: 0;
    }
}

/* 右邊 */
.members-content2, .members {
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    position: relative;
    overflow-x: hidden;
}

.members {
    z-index: 10;
    overflow-x: hidden;
}

.members-bg {
    background: #ede9e0;
    width: 70%;
    margin-left: -70%;
    border-bottom-left-radius: 150px;
}


.member-right2 h1 {
    font-size: var(--big-p);
    line-height: var(--big-p-height);
}

.member-right2 p {
    font-size: var(--sec-p);
}


.member-right2 {
    width: calc(40% - var(--member-padding));
    padding-right: var(--member-padding);
    position: relative;
    z-index: 200;
    transform: translateY(var(--member-left-transform));
}

.member-left2 {
    width: calc(80% - var(--member-padding));
    margin-left: -23%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10vh 0 10vh var(--member-padding);
    border-top-left-radius: 60px;
    margin-right: 3%;
}

.member-left2-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.member-left2-img img {
    border-radius: 50px;
    width: 70%;
}

@media (max-width:1200px) {
    .member-left2-img img {
        width: 70%;
    }
}

@media (max-width:1000px) {
    .member-left2-img img {
        width: 70%;
    }
}


@media (max-width:800px) {
    .members-content2, .members {
        flex-wrap: wrap;
        background-color: #ede9e0;
        padding-bottom: 7vh;
    }

    .member-left2 {
        width: 100%;
        margin: 0;
        justify-content: center;
        padding: 0;
        border-radius: 0;
    }

    .member-left2-img {
        justify-content: center;
        width: 100%;
        padding: 0 10%;
    }

    .member-left2-img img {
        width: 100%;
        border-radius: 40px;
    }

    .member-right2 {
        background: #ede9e0;
        width: 80%;
        padding: 10vh 10%;
        margin: 0;
    }

    .members-bg {
        display: none;
    }
}

.s-popup {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    transition: 0.3s ease-in-out;
    transform: scale(0);
}

.popup-content {
    width: 80%;
    height: 80%;
    background: #fff;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 3vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.popup-content img {
    max-height: 80%;
    max-width: 90%;
}

.popup-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.popup-btn i {
    font-size: var(--big-p);
    transition: 0.3s ease-in-out;
    padding: 20px;
    cursor: pointer;
}

.popup-btn i:hover {
    transform: scale(1.2);
}