.content-header-left,
.content-header-right {
    display: inline-block;
}

.content-header-item-mgr {
    margin-right: 20px;
}


.col-10 {
    padding: 10px 0;
}

.member-banner {
    height: 35vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-image: url('../resource/banner/banner2(small).jpg');
    margin: 30px 0 0 0;
}

.title-text {
    font-size: 25px;
    font-weight: bolder;
    padding: 0 0 20px 0;
}

.card-img-top {
    border-radius: 99em !important;
    padding: 10px;
}

.card {
    border: 0
}

.subject-img {
    margin-bottom: 20px;
}

@media (max-width:700px) {
    .content-header-right {
        float: left;
        width: 100%;
        margin-top: 20px;
    }

    .content-header-item {
        top: 0 !important;
    }

}