@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;600;700;900&display=swap');

:root {
    --sec-title: 3rem;
    --sec-p: 1.3rem;
    --big-title: 8rem;
    --big-p: 2rem;
    --height: 45px;
}

@media (max-width:1200px) {
    :root {
        --sec-title: 2.5rem;
        --sec-p: 1.2rem;
        --gary-p: 0.9rem;
        --big-title: 6rem;
        --big-p: 1.7rem;
        --height: 39px;
    }
}

@media (max-width:1000px) {
    :root {
        --sec-title: 2rem;
        --sec-p: 1.1rem;
        --gary-p: 0.8rem;
        --big-title: 5rem;
        --big-p: 1.5rem;
        --height: 33px;
    }
}

@media (max-width:800px) {
    :root {
        --sec-title: 1.5rem;
        --sec-p: 1rem;
        --gary-p: 0.6rem;
        --big-title: 4rem;
        --big-p: 1.2rem;
        --height: 27px;
    }
}

main-color {
    color: #C9781F;
    color: #254820;
    color: #699663;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Noto Serif TC', serif;
}

body {
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    height: 100%;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.s2, .s3 {
    margin-top: -10vh;
}

/* sections */
.section-60 {
    width: 65%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 17.29167vw;
}

@media (max-width:1000px) {
    .section-60 {
        padding: 0 12.29167vw;
    }
}

@media (max-width:800px) {
    .section-60 {
        padding: 0 8.29167vw;
    }
}

.section-60 h1 {
    font-size: var(--sec-title);
    padding: 10px 0;
}

.section-60 p {
    font-size: var(--sec-p);
}

.section-40 {
    width: 35%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}


@media (max-width:800px) {
    .section-40, .section-60 {
        width: 100%;
        height: 50vh;
    }

    .s2, .s3 {
        display: block;
    }

    .s2, .s3 {
        margin-top: 0;
    }

    .s2 {
        -webkit-flex-flow: column-reverse;
        flex-flow: column-reverse;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .s3 {
        -webkit-flex-flow: column;
        flex-flow: column;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}

.s2 .section-40 {
    background: #C9781F;
}

.s3 .section-40 {
    background: #699663;
}

.section-40 img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}



/* section 6 Contact us*/
.s6 {
    min-height: 100vh;
}

.s6 .content {
    position: relative;
    cursor: pointer;
    color: #254820;
}

.content-text {
    position: absolute;
    overflow: hidden;
    margin-left: -250px;
}

.content p {
    transition: 0.3s;
    font-size: var(--big-p);
}


.content-text p::before {
    display: inline-block;
    position: absolute;
}

.s6 .content-text p::before {
    content: '更換景點　　';
}

.content-text p::after {
    width: 100%;
    display: inline-block;
    position: absolute;
    transform: rotate(10deg);
    left: 0;
    top: 120%;
}

.s6 .content-text p::after {
    content: '更換景點→';
}

.content-text p.hover {
    transform: rotate(-10deg) translateY(-120%);
}


.s6 .content div h1 {
    position: relative;
    top: 20px;
    font-size: var(--big-title);
    letter-spacing: 8px;
}

@media (max-width:1200px) {
    .content-text {
        margin-left: -150px;
    }
}

@media (max-width:870px) {
    .content-text {
        margin-left: 0px;
    }
}

/*attractions*/
.attractions {
    position: fixed;
    z-index: 2000;
    background: rgba(255, 255, 255, 0.7);
    justify-content: center;
    align-items: center;
    display: none;
}

.att-navs {
    background: #fff;
    border-radius: 20px;
    box-shadow: 4px 4px 7px 7px #2548209a;
    padding: 20vh 25vw;
}

.att-nav {
    font-size: var(--big-p);
    letter-spacing: 2px;
    color: #254820;
    font-weight: 700;
    margin: 20px 0;
    cursor: pointer;
    text-align: justify;
    width: 100%;
    height: var(--height);
}

.att-nav::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.btn-content {
    display: flex;
    justify-content: flex-end;
}

.btn-content i {
    font-size: var(--big-p);
    transform: translateX(-100%) translateY(150%);
    cursor: pointer;
    padding: 20px;
    transition: 0.3s;
}

.btn-content i:hover {
    transform: translateX(-100%) translateY(150%) scale(1.3);
}

.s2, .s3 {
    display: none;
}