:root {
    --card-p: 6em;
    --card-title: 3em;
}

@media (max-width:1200px) {
    :root {
        --card-p: 6em;
        --card-title: 3em;
    }
}

@media (max-width:1000px) {
    :root {
        --card-p: 5em;
        --card-title: 2.5em;
    }
}

@media (max-width:800px) {
    :root {
        --card-p: 4em;
        --card-title: 2em;
    }
}

@media (max-width:600px) {
    :root {
        --card-p: 3.5em;
    }
}

.monster-image {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box {
    position: relative;
    width: 60%;
    height: calc(80% - 160px);
    border-radius: 20px;
    transform-style: preserve-3d;
    background-image: url(../resource/monster/good-bg.jpg);
    background-position: bottom center;
    background-size: cover;
}

.container .box::before {
    content: 'Monzzle';
    position: absolute;
    top: 0vh;
    left: 70%;
    transform: translateX(-50%) translateY(0%);
    font-size: var(--card-p);
    font-weight: 900;
    color: #232323;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box::after {
    content: 'Created';
    position: absolute;
    bottom: 0vh;
    left: 30%;
    transform: translateX(-50%) translateY(0%);
    font-size: var(--card-p);
    font-weight: 900;
    color: #232323;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover::before, .container .box:hover::after {
    opacity: 0.5;
}

.container .box .name {
    position: absolute;
    top: 0;
    left: 5%;
    text-align: left;
    color: #232323;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
    font-size: var(--card-title);

    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}

.container .box:hover .name {
    top: 5vh;
    opacity: 1;
}

/* .container .box .buy {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%, 0, 75px);
    color: #232323;
    background: url(../resource/monster/good.jpg);
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 11;
}

.container .box:hover .buy {
    bottom: 30px;
    opacity: 1;
} */

.container .box .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
    transition: 0.5s;
    background: url(../resource/monster/good.jpg);
    transform-style: preserve-3d;
    /* z-index: 10; */
    opacity: 1;
    transform: translate3d(-50%, -50%, 50px);
}

.container .box .product {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 115%;
    object-fit: contain;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 54px);
}

.container .box:hover .product {
    transform: translate3d(-50%, -50%, 100px);
}

.tip-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-200%);
}

.waviy {
    font-size: var(--sec-p);
}

@media (min-width:600px) {
    .waviy {
        -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0, 0, 0, .2));
    }
}

@media (max-width:600px) {
    .waviy {
        padding: 30px 0;
    }
}

.waviy span {
    display: inline-block;
    text-transform: uppercase;
    animation: waviy 2.8s infinite;
    animation-delay: calc(.4s * var(--i));
}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-10px)
    }
}

/* .image-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.image-content img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative;
    z-index: 4;
}

.image-content p {
    font-size: var(--sec-title);
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.bg-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    width: 100%;
    height: 60%;
    transform: translateY(-90%);
}

@media (max-width:600px) {
    .bg-content {
        height: 50%;
        transform: translateY(-110%);
    }
}

.image-bg {
    background: #cbcbcb;
    width: 100%;
    height: 100%;
    border-radius: 150px;
    position: relative;
    z-index: 3;
} */

.s-introduction {
    min-height: 100vh;
}

.introduction-content {
    padding: 10vh 15%;
    width: 100%;
    height: 100%;
}

.introduction-title {
    width: 100%;
    display: block;
    text-align: center;
    font-size: var(--big-p);
}

.introduction-text, .introduction-text2 {
    font-size: var(--sec-p);
    /* line-height: 200%; */
}

.line-body {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.line {
    background: #232323;
    height: 100%;
    width: 2.5px;
}

.introduction-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.introduction-image {
    width: 30%;
    padding: 15px;
    background: #cbcbcb;
    border-radius: 100%;
    margin: 1.6%;
}

.introduction-image img {
    width: 100%;
}

@media (max-width:1000px) {
    .introduction-image {
        width: 37%;
        margin: 1% 6%;
    }

    .line-body {
        height: 10vh;
        padding: 20px 0;
    }
}

@media (max-width:800px) {
    .introduction-image {
        width: 80%;
        margin: 5% 0%;
    }

    .line-body {
        height: 10vh;
        padding: 20px 0;
    }

    .introduction-content {
        padding: 10vh 10%;
    }
}