/* s-banner */
.title-text h1 {
    letter-spacing: 25px;
}

@media (max-width:750px) {
    .title-text h1 {
        letter-spacing: 10px;
    }

    .title-text h1 {
        margin-top: -10px;
    }

    .title-content {
        padding: 0 0 0 10vw;
    }
}

@keyframes effect {

    0%,
    20%,
    100% {
        filter: blur(0px);
        opacity: 1;
    }

    40%,
    80% {
        filter: blur(16px);
        opacity: 0;
    }
}

/* s-60-40 , s-40-60 */
.s-60-40,
.s-40-60 {
    margin-top: 0;
}

.section-40 {
    /* padding: 0 20px; */
}

.s-60-40 .section-40 {
    background: #9ECABF;
    /* border-top: #513A35 15vh solid; */
    /* border-bottom: #513A35 15vh solid; */
}

.s-40-60 .section-40 {
    background: #a8877d;
    /* border-top: #513A35 15vh solid; */
    /* border-bottom: #513A35 15vh solid; */
}

/*subject*/
.content-text p::after {
    content: 'Click　→';
}

.content-text p::before {
    content: 'Click　　';
}

.s-paragraph a {
    color: #000;
}