:root {
    --sec-title: 3rem;
    --sec-p: 1.3rem;
    --big-title: 8rem;
    --big-p: 2rem;
    --height: 45px;
    --header-height: 150px;
    --right-width: 400px;
    --left-padding-right: 80px;
    --member-padding: 200px;
}

@media (max-width:1400px) {
    :root {
        --member-padding: 120px;
    }
}


@media (max-width:1200px) {
    :root {
        --sec-title: 2.5rem;
        --sec-p: 1.2rem;
        --gary-p: 0.9rem;
        --big-title: 6rem;
        --big-p: 1.7rem;
        --height: 39px;
        --member-padding: 100px;
    }
}

@media (max-width:1000px) {
    :root {
        --sec-title: 2rem;
        --sec-p: 1.1rem;
        --gary-p: 0.8rem;
        --big-title: 6.5rem;
        --big-p: 1.5rem;
        --lorem-p: 1.5em;
        --height: 33px;
        --member-padding: 80px;
    }
}

@media (max-width:800px) {
    :root {
        --sec-title: 1.5rem;
        --sec-p: 1rem;
        --gary-p: 0.6rem;
        --big-title: 3rem;
        --big-p: 1.2rem;
        --height: 27px;
        --member-padding: 50px;
    }
}

* {
    margin: 0;
    padding: 0;
}

/* header */
/* header {
    width: 100%;
    height: var(--header-height);
    padding: 0 70px;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background: #367841;
    width: 150px;
    height: 40px;
}

.navs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 100px;
    height: 30px;
    background: #835479;
} */

/* banner */
.s-aa {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.left {
    width: calc(100% - var(--right-width) - var(--left-padding-right));
    height: calc(100vh - var(--header-height));
    padding-top: var(--header-height);
    padding-right: var(--left-padding-right);
    /* background: #666; */
}

.left-imgs {
    width: calc(100% - var(--right-width) - var(--left-padding-right));
    height: calc(100vh - var(--header-height));
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 0 80px 0 0;
}

.left-img {
    position: absolute;
    width: 100%;
    height: 30%;
    z-index: 9;
    left: 0;
    bottom: 0;
    background-image: url(../resource/portrait/0.jpg);
    background-size: cover;
    background-position: 50% 50%;
    transition: 1s ease-in-out;
    opacity: 0;
}

.left-img2 {
    background-image: url(../resource/portrait/2.jpg);
}

.left-img3 {
    background-image: url(../resource/portrait/3.jpg);
}

.right {
    width: var(--right-width);
    height: 100%;
    /* background: #999; */
}

.right-imgs {
    width: var(--right-width);
    height: calc(100vh - 300px);
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    border-radius: 0 0 0 80px;
}

.right-img {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 30%;
    background-image: url(../resource/portrait/4.jpg);
    background-size: cover;
    background-position: 50% 50%;
    transition: 1s ease-in-out;
    opacity: 0;
}

.right-img2 {
    background-image: url(../resource/portrait/5.jpg);
}

.right-img3 {
    background-image: url(../resource/portrait/6.jpg);
}

.right-text {
    /* width: 100%; */
    height: 300px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background: #353254; */
    font-size: var(--big-p);
}

.pre {
    z-index: 10;
}

.rightshow {
    height: 100%;
    opacity: 1;
}

.leftshow {
    height: 100%;
    opacity: 1;
}

.big-left {
    animation: bigger 9s;
}

@keyframes bigger {
    0% {
        transform: scale(1);
        background-position: 50% 50%;
    }

    60% {
        transform: scale(1.03);
        background-position: 50% 46%;
    }

    100% {
        transform: scale(1.04);
        background-position: 50% 44%;
    }
}

.big-right {
    animation: biggerr 8s;
}

@keyframes biggerr {
    0% {
        transform: scale(1);
        background-position: 50% 50%;
    }

    60% {
        transform: scale(1.1);
        background-position: 50% 54%;
    }

    100% {
        transform: scale(1.12);
        background-position: 50% 56%;
    }
}