.options {
    display: inline-block;
    width: 33.33333333333333333333%;
    height: 100vh;
}

@media (max-width:820px) {
    .options {
        width: 100%;
        height: 33.333333333333vh;
    }
    .logocontent{
        height: 100%;
    }
    .logopic {
        height: 80%;
        position: relative;
        top: 10%;
    }
    .logopic:hover{
        height: 85%;
        top: 7.5%;
    }
}

.loveoption {
    background-color: #FF7979;
}

.wealthoption {
    background-color: #FBB03B;
}

.workoption {
    background-color: #A67C52;
}


@media (min-width:1024px) {
    .options {
        min-height: 768px;
    }

    .logopic {
        width: 20%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        position: absolute;
        top: 30%;
        max-width: 240px;
    }

    .logopic:hover {
        top: 27.5%;
        width: 25%;
        max-width: 300px;
    }
}

@media (max-width:1024px) and (min-width:821px) {
    .logopic {
        width: 20%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        position: absolute;
        top: 30%;
        max-width: 240px;
    }

    .logopic:hover {
        top: 27.5%;
        width: 25%;
        max-width: 300px;
    }
}